* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  background-image: url('./img/Fondo Azul.jpg');
  background-size: cover;
  background-position: center;
}

h2 {
  color: black;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"] {
  width: 200px;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

button {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.buttons-container button {
  padding: 7px 12px;
  margin-right: 10px;
  background-color: rgb(0, 0, 0); 
}

.buttons-container button:last-child {
  margin-right: 0;
}

table {
  margin: 0 auto;
  margin-top: 10px;
  border-collapse: collapse;
  width: 80%;
  border: 1px solid #333;
  table-layout: fixed;
  background-color: rgba(0, 0, 0, 0); 
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff; 
}

thead {
  background-color: black; 
  color: #fff; 
}

td {
  vertical-align: middle;
}

tr.selected {
  background-color: rgba(70, 5, 248, 0.452);
  color: white;
}


